* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

h2{
     font-size: 13px;
    font-weight: normal;
    color: whitesmoke;
    background-color: rgb(2, 29, 2);
    width: 100vw;
    height: 40px;
    display: flex;
    padding-left: 60px;
   align-items: center;  
}

.icon {
height: 40px;
width: auto;
align-items: center;
display: flex;
padding: 5px 10px;
gap: 2em;
}

.navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  background-color: whitesmoke;
  box-shadow: 2px 1px 12px rgba(0, 0, 0, 1);
}

.logo img {
  height: 100px;
  padding: 0px;
  margin-left: 10px;
  width: auto; 
}

.menu {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.menu a {
  text-decoration: none;
  color: #001a00; 
  font-weight: 400;
}

.donate button {
  background-color: rgb(2, 29, 2);
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.donate button:hover {
  background-color: #5c7013ff
}

.main-image-section {
  margin-top: 10px; /* 10px below navbar shadow */
  width: 100%;
  justify-content: center;

}

.main-image {
  max-width: 100vw;
  height: auto;
  display: block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional: image shadow */
}



